<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doan_thibanglaixe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".screens.quenmk.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".screens.quenmk.VerifyActivity"
            android:exported="false" />
        <activity
            android:name=".screens.quenmk.QuenMkActivity"
            android:exported="false" />
        <activity
            android:name=".screens.luatgt.ChiTietLuatActivity"
            android:exported="false" />
        <activity
            android:name=".screens.ketqua.ChiTietKqActivity"
            android:exported="false" />
        <activity
            android:name=".screens.ketqua.KetQuaActivity"
            android:exported="false" />
        <activity
            android:name=".screens.lithuyet.CauhoiltActivity"
            android:exported="false" />
        <activity
            android:name=".screens.dangkytk.DangKyTaiKhoan"
            android:exported="false" />
        <activity
            android:name=".screens.caccausai.CacCauSaiActivity"
            android:exported="false" />
        <activity
            android:name=".screens.luatgt.TraCuuLuatActivity"
            android:exported="false" />
        <activity
            android:name=".screens.meothi.MeoActivity"
            android:exported="false" />
        <activity
            android:name=".screens.lambaithi.LamBaiThiActivity"
            android:exported="false" />
        <activity
            android:name=".screens.luachon.ChonBoDeActivity"
            android:exported="false" />
        <activity
            android:name=".screens.lithuyet.LiThuyetActivity"
            android:exported="false" />
        <activity
            android:name=".screens.menu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".screens.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>